body {
    background-color: #733635;
}

h2 {
    text-align: center;
    color: white;
}

hr {
    width: 20%;
}

.undone {
    color: black;
}

.to_modify {
    color: blue;
}

#query_results, #user_experience {
    text-align: center;
    color: white;
}

#query_results {
    line-height: 20px;
}

#user_experience {
    padding-top: 2%;
    line-height: 30px;
    /* need to adjust the imbalance of spacing between the three lines */
}

#query_suggestions {
    color: black;
}

#suggestion_content {
    /* kind of padding */
}

#suggestion_list {
    color: black;
}
